*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #3c4c20;
  --color-secondary: #434343;
  --color-tertiary: #707070;
  --color-font: #ffffff;
  --color-border: #313131;
}

html {
  font-size: 62.5%;
}

@media (max-width: 43.75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--color-font);
}

p {
  line-height: 1.5;
}

img,
picture {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

footer {
  height: 80px;
  background: var(--color-secondary);
  padding: 4rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
