.tours-section {
  height: auto;
  background: var(--color-secondary);
}

.cards-wrapper {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 4rem;
  margin: 8rem;
}

.tour-card {
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

.tour-card-image {
  border: 10px solid var(--color-tertiary);
  margin-bottom: 2.5rem;
}

.tour-card-description p {
  margin-top: 2rem;
  letter-spacing: 0.5px;
  font-size: 1.4rem;
}

@media (max-width: 50em) {
  .tours-section {
    position: relative;
  }

  .cards-wrapper {
    width: 100%;
    margin: 4rem;
  }
}

@media (max-width: 43.75em) {
  .tour-card-description h3 {
    font-size: 2rem;
  }

  .tour-card-description p {
    font-size: 1.8rem;
  }
}
