.about-section {
  flex-wrap: wrap;
  height: auto;
  padding: 8rem;
  background: var(--color-tertiary);
  transform: translateX(-30px);
  opacity: 0;
  transition: 0.5s;
}

.about-image {
  height: 40rem;
  width: 40rem;
  overflow: hidden;
  border-radius: 50%;
  border: 15px solid var(--color-border);
  margin: 0 8rem 8rem;
}

.about-image img {
  height: 100%;
  width: 100%;
}

.about-description {
  flex: 0 0 50%;
  transform: translateY(-80px);
  opacity: 0;
  transition: 0.5s;
}

.about-description h1 {
  font-size: 3rem;
}

.about-description > *:not(:last-child) {
  margin-bottom: 4rem;
}

.about-description p:nth-of-type(2) {
  font-weight: 700;
}

@media (max-width: 75em) {
  .about-description {
    flex: 0 0 100%;
  }
}

@media (max-width: 50em) {
  .about-image {
    height: 30rem;
    width: 30rem;
  }
}

@media (max-width: 43.75em) {
  .about-description p {
    font-size: 1.8rem;
  }
}

@media (max-width: 31.25em) {
  .about-description {
    text-align: center;
  }
  .about-image {
    margin: 0 0 4rem;
  }
}

@media (max-width: 25em) {
  .about-image {
    height: 20rem;
    width: 20rem;
  }
}
